@import "../../../variables";

.header {
  text-align: left;
  position: relative;
  color: #0b0f1c;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 25px;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -5px;
    margin: 0 auto;
    left: 0;
    width: 100%;
    background: black;

    @include lg {
      width: 80%;
    }
  }
}

.token-img__container {
  height: auto;
  width: auto;

  img {
    height: 160px;
    width: 160px;
    border-radius: 8px;

    @include lg {
      height: 200px;
      width: 200px;
    }
  }
}
