@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;

  @include lg {
    flex-direction: row;
    padding-left: 30px;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @include lg {
    --oneThird: calc(1 / 3);
    width: calc(var(--oneThird) * 100%);
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 75px;
  }
}

.card__header {
  text-align: left;
  position: relative;
  color: #0b0f1c;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 25px;

  @include lg {
    font-size: 36px;
  }

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -5px;
    margin: 0 auto;
    left: 0;
    width: 85%;
    background: black;
  }
}

.logo__wrapper {
  height: 36px;
  width: 36px;
  margin-right: 10px;

  img {
    height: 100%;
  }
}

.row__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.text__container {
  display: flex;
  flex-direction: column;
}

.resource__link {
  text-align: left;
  padding: 7px 0;
  font-size: 18px;
  margin-right: auto;
  position: relative;
  display: flex;
  text-decoration: none;
  color: #0b0f1c;

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: 6px;

    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
    left: 0;
    width: 100%;
    background: #0b0f1c;

    /* optional animation */
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover:after {
    width: 80%;
    background: black;
  }
}

.description {
  text-align: left;
}

.text {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.stakeholder {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  color: #0b0f1c;
  // margin-left: 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
