@import "../../../variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;

  @include lg {
    flex-direction: row;
    padding-left: 30px;
  }
}

.card__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  @include lg {
    --oneThird: calc(1 / 3);
    width: calc(var(--oneThird) * 100%);
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 75px;
  }
}

.row__number {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 700;
  margin: 0 14px 0 5px;
}

.row__text {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 70%;
}
