@import "../../variables";

.nav__container {
  display: block;
  margin-bottom: 50px;

  @include lg {
    margin-bottom: 75px;
  }
}

.nav__content {
  display: flex;
  max-width: 1200px;
}

.nav__title--container {
  display: flex;

  img {
    width: 144px;
    height: 100%;
  }
}
